
<h2> extended information </h2>
<div class="control-group">
	<label id="name-label" class="control-label"> Office Notes</label>
	<textarea id="member-note" name="note"></textarea>
</div>

<div class="control-group">
	<label id="checkin-label" class="control-label"> Checked in?</label>
	 <input type="checkbox" id="checkin-status" name="checkinStatus"></input>
</div>
<div class="control-group">
	<label class="control-label">Status</label>
	<div class="controls">
		<select id="member-status" name="status" class="input-xlarge">
			<option value="" selected="selected">(please select a status)</option>
			<option value="INACTIVE">Inactive</option>
			<option value="ACTIVE">Active</option>
			<option value="BANNED"><div class="danger">Banned</div></option>
		</select>
	</div>
</div>
