<script id="member-table-template" type="text/x-handlebars-template">
  <table id="member-table">
    <thead>
      <th>Member #</th>
      <th>Real Name</th>
      <th>Email</th>
    </thead>
  </table>
</script>
