<script id="member-table" type="text/x-handlebars-template">
  <table>
    <thead>
      <th>Real Name</th>
      <th>Email</th>
    </thead>
    <tbody>
      \{{#if members}}
        \{{#members}}
          <tr>
            <td>\{{name}}</td>
            <td>\{{email}}</td>
          </tr>
        \{{/members}}
      \{{/if}}
    </tbody>
  </table>
</script>
