<script id="member-table-template" type="text/x-handlebars-template">
  <div class="modal fade" tabindex="-1" role="dialog" id="intake-model">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Membership Intake</h4>
        </div>
    		<form id="membership-intake" class="form-horizontal">
          <div class="modal-body">
              {{>admin-intake-form}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-member">Save</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <div id="confirm-delete" class="modal fade" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          Remove Member
        </div>
        <div class="modal-body">
          Are you sure you want to delete this member? This cannot be undone.

          Don't fuck up.
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete-member">Hell Yeah</button>
          <button type="button" data-dismiss="modal" class="btn">Fuck No</button>
        </div>
      </div>
    </div>
  </div>
  <div id="view-member" class="modal fade" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="member-info-header"></h2>
        </div>
        <div class="model-body">
            <div id="member-info"></div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div id="view-billing-info" class="modal fade" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="billing-info-header"></h2>
        </div>
        <div class="model-body">
            <div id="billing-info"></div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn">Close</button>
        </div>
      </div>
    </div>
  </div>
  <table id="member-table">
    <thead>
      <th>Member #</th>
      <th>Real Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Member Checked In?</th>
    </thead>
  </table>
</script>
